<!doctype html>
<html lang="en">
<head>
  <title>Diviz server - methods</title> 
  <meta charset=utf-8> 
  <meta http-equiv="Access-Control-Allow-Origin" content="*">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
  
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <header>
    <nav id="navigationBar" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a id="textNav" class="navbar-brand" style="font-size:18px">MCDA Framework</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="userName" style="font-size:18px"></a></li>
          <li><a id="textNav" href="javascript:void(0);" onclick="setName();"><span class="glyphicon glyphicon-list-alt"></span> Back to Project Set</a></li>
          <li><a id="textNav" href="http://vps288667.ovh.net:3901/login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div id="verticalNav" class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul id="optionList" class="nav navbar-nav">
            <li id="sections"><a id="aSectionsDescription" href="javascript:void(0);" onclick="changeSection('description');">Description</a></li>
            <li id="sectionsCriteria"><a id="aSections" href="javascript:void(0);" onclick="changeSection('criterion');">Criterion Set</a></li>
            <li id="sectionsAlternatives"><a id="aSections" href="javascript:void(0);" onclick="changeSection('alternative');">Alternative Set &<br>Performance Table</a></li>
            <li id="sectionsConfigurations"><a id="aSections" href="javascript:void(0);" onclick="changeSection('configurations');">Decision Configurations</a></li>
            <li><button id="buttonDiviz" class="btn btn-success" onclick="changeSection('divizServer');">Execute</button></li>
            <li><button id="buttonDiviz" class="btn btn-primary" onclick="changeSection('results');">Results</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <br/> 
      <p id="explanation" style="display:none; font-size:18px; font-family: Helvetica,Arial,sans-serif;">If you want to save these results please click on "Save Results" button, otherwise these results will be lost.<br> To see all your saved results click on "Results" button.</p>
      <br/> 
      <label id="labelResult" style="display:none">Insert a name for the results: </label>
      <input id="resultName" onkeyup="checkResultName()" style="display:none" type="text" value="" placeholder="Result name" name="name" required></input>
      <button id="methodButtons" style="display:none" class="btn btn-info" type="button" onclick="saveResult()">Save Results</button>
      <br/>
      <br/><br/>
      <table style="display:none" id="resultsTable" border="1" bordercolor="#033773" class="table table-bordered horizontal">
                <thead>
                    <th id="criHeader">Alternative</th>
                    <th id="criHeader">Minimum</th>
                    <th id="criHeader">Maximum</th>
                </thead>
                <tbody></tbody>
      </table>
      <p id="errorMethod" style="display:none;font-size:18px; font-family: Helvetica,Arial,sans-serif; color:red; text-align: center; margin: auto; width: 80%;">
        Function cannot be executed.<br>Please be sure that all data sections are filled (the sections should be green) and/or not missing or empty (mandatory: weigth, indifference, etc...) and have an enough number of criteria/alternatives/categories (have at least 2 of each).
      </p>
      <br>
      <p id="errorMessage" style="display:none"></p>
      <p id="errorMessage2" style="display:none; font-size:18px; font-family: Helvetica,Arial,sans-serif; color:red; text-align: center; margin: auto; width: 80%;">Function cannot be executed because some data are missing.<br> Please be sure that all data sections are filled (the section should be green) and not missing or empty (mandatory: weigth, indifference, etc...) and also create at least 3 elements in each section (i.e. 3 criteria, 3 alternatives, etc...).</p>
      <br/><br/> 
    </div>
    <div id="loading">
      <img id="loading-image" src="./static/loader.gif" alt="Loading..." />
      <p id="loading-text">Executing...</p>
    </div>
  </div>
  <!--<script type="text/javascript" src="../static/checkData.json"></script>-->
  <script type="text/javascript">
    // Hide loader
    $('#loading').hide();

    var projectId = getParameterByName('projectId'); 
    var projectName = getParameterByName('project');
    var username = getParameterByName('n');  
    // var resultsPath = 'http://localhost:5000/static/' + projectId + '/assignments.xml?' + new Date().getTime(); 
    // var messagePath = 'http://localhost:5000/static/' + projectId + '/messages.xml?' + new Date().getTime();  
    // var checkDataPath = 'http://localhost:5000/static/' + projectId + '/checkData.json?' + new Date().getTime();  
    var resultsPath = 'http://vps288667.ovh.net:5010/static/' + projectId + '/assignments.xml?' + new Date().getTime(); 
    var messagePath = 'http://vps288667.ovh.net:5010/static/' + projectId + '/messages.xml?' + new Date().getTime();  
    var checkDataPath = 'http://vps288667.ovh.net:5010/static/' + projectId + '/checkData.json?' + new Date().getTime();
    document.getElementById("userName").innerHTML = 'User: ' + username;
    document.getElementById("aSectionsDescription").innerHTML = projectName + '<br> Description';
    document.getElementById("methodButtons").disabled=true;

    // Function to get project id from the url as a parameter
    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // Function to change section with the rigth project id
    function changeSection(name){
      var url = "";
      var id = projectId;
      var user = username;
      var project = projectName;
      var sectionName = name;
      if(sectionName == 'divizServer'){
        //url = 'http://vps288667.ovh.net:5010?projectId='+id;  
        //window.location(url);
        // Show loader when execute button was clicked
        $('#loading').show();
        location.href = 'http://vps288667.ovh.net:5010/electreTriC/?projectId='+id+'&n='+user+'&project='+project;    
      }else{
        //url = 'http://vps288667.ovh.net:3901/'+sectionName+'.html?projectId='+id; 
        //window.location(url);
        location.href = 'http://vps288667.ovh.net:3901/'+sectionName+'.html?projectId='+id+'&n='+user; 
      }  
    }

    // Have to pass the projectId parameter to execute method href to get the project id
    function setProjectID(){
      var id = projectId;
      var user = username;
      var project = projectName;
      location.href = '/electreTriC/?projectId='+id+'&n='+user+'&project='+project;  
    }

    // Have to pass the n parameter to execute method href to get the name
    function setName(){
      var id = projectId;
      var user = username;
      location.href = '/projectSection/?n='+user;
    }

    // Disabled save button when input as a name
    function checkResultName() {
      if(document.getElementById("resultName").value == ""){
        document.getElementById("methodButtons").disabled=true;
      }else{
        document.getElementById("methodButtons").disabled=false;
      }
    }

    // Save results on mongodb
    function saveResult(){
      var id = projectId;
      var user = username;
      var project = projectName;
      var nameResult = document.getElementById("resultName").value;
      // See if results where successful, if not don't save results
      if(document.getElementById('resultsTable').style.display == 'none'){
        console.log('Do not save the results because of the error message...');
        return 0;
      }
      location.href = '/saveResult/?projectId='+id+'&n='+user+'&resName='+nameResult; 
    }

    // Function to get the content of a json file
    function loadJSON(callback) {   
      //Perform the Ajax request
      window.XMLHttpRequest
      {
        xobj = new XMLHttpRequest();
      }
      //var xobj = new XMLHttpRequest();
      xobj.overrideMimeType("application/json");
      xobj.open('GET', checkDataPath, false); // Replace 'my_data' with the path to your file
      xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
              // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
              callback(xobj.responseText);
            }
      };
      xobj.send();  
    }

    // //Function test to check the configuration file (see the state of the method)
    function configTutorial() {
      loadJSON(function(response) {
      // Parse JSON string into object
        var actual_JSON = JSON.parse(response);
        //document.getElementById("teste").innerHTML = "Alternatives: "+ actual_JSON.alternatives + 
        //"<br/> Criteria: "+ actual_JSON.criterions + "<br/>Parameters: "+ actual_JSON.parameters + "<br/>Categories: " + actual_JSON.categories + "<br/>Performance Table: "+ actual_JSON.performancetables + "<br/>Profile Table: "+ actual_JSON.profiletables
        //alert(actual_JSON.categories);
        // See if criteria are done or not
        if(actual_JSON.criterions){
          document.getElementById("sectionsCriteria").style.backgroundColor = '#ff3333';
          //document.getElementById("step1").innerHTML += '&#10060';
        } else{
          document.getElementById("sectionsCriteria").style.backgroundColor = '#6fdc6f';
          //document.getElementById("step1").innerHTML += '&#9989';
        }
        // See if alternatives and performance table are done or not
        if(actual_JSON.alternatives || actual_JSON.performancetables){
          document.getElementById("sectionsAlternatives").style.backgroundColor = '#ff3333';
          //document.getElementById("step2").innerHTML += '&#10060';
        } else{
          document.getElementById("sectionsAlternatives").style.backgroundColor = '#6fdc6f';
          //document.getElementById("step2").innerHTML += '&#9989';
        }
        // See if are all done or not
        if(actual_JSON.categories || actual_JSON.parameters || actual_JSON.profiletables){
          document.getElementById("sectionsConfigurations").style.backgroundColor = '#ff3333';
          //document.getElementById("step4").innerHTML += '&#10060';
        } else{
          document.getElementById("sectionsConfigurations").style.backgroundColor = '#6fdc6f';
          //document.getElementById("step4").innerHTML += '&#9989';
        }
        // See if step 5, 6 and 7 - categories, parameters and profiles are done or not
        // if(actual_JSON.categories){
        //   document.getElementById("step5").style.color = 'red';
        // } else{
        //   document.getElementById("step5").style.color = 'green';
        // }
        // if(actual_JSON.parameters){
        //   document.getElementById("step6").style.color = 'red';
        // } else{
        //   document.getElementById("step6").style.color = 'green';
        // }
        // if(actual_JSON.profiletables){
        //   document.getElementById("step7").style.color = 'red';
        // } else{
        //   document.getElementById("step7").style.color = 'green';
        // }
     });
    }

  setTimeout(function() {
    configTutorial(); 
    loadXMLDoc();
  }, 10);

//setInterval("configTutorial()", 5000);
//setInterval("loadXMLDoc()", 5000);

  var resultsFileExists = false;
  var messageFileExists = false;

  // Load file result
  function loadXMLDoc() {
    $.ajax({
        type: 'HEAD',
        url: resultsPath,
        async: false,
        success: function() {
          resultsFileExists = true;
          //alert('Page found.');
        },  
        error: function() {
          resultsFileExists = false;
          //alert('Page not found.');
        }
    });
    $.ajax({
        type: 'HEAD',
        url: messagePath,
        async: false,
        success: function() {
          messageFileExists = true; 
          //alert('Page found.');
        },  
        error: function() {
          messageFileExists = false; 
          //alert('Page not found.');
        }
    });
    console.log('Results file exists? ' + resultsFileExists);
    console.log('Error message file exists? ' + messageFileExists);
    if(resultsFileExists){
      document.getElementById("errorMessage2").style.display = "none";
      //Perform the Ajax request
      window.XMLHttpRequest
      {
        xmlhttp = new XMLHttpRequest();
      }
      //var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", resultsPath, true);  
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              showResults(xmlhttp);
          }
        };
      xmlhttp.send();
    }else if(messageFileExists){
      document.getElementById("errorMessage2").style.display = "none";
      // If results file does not exist it means there are errors during the method execution, open the error message
      //Perform the Ajax request
      window.XMLHttpRequest
      {
        xmlhttp = new XMLHttpRequest();
      }
      //var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", messagePath, true);  
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          showErrorMessage(xmlhttp);
        }
      };
      xmlhttp.send();
    }else{
      // Do nothing because files don't exist (they may be problems with other functions before executing the electre tri-c method)
      // TODO: show the errors from other functions or executing the method is not allowed if the other methods give error or if
      // there are missing data from the project and that causes error
    }
  }

  // Get content from assignments.xml, which has the results
  function showResults(xml) {
    var alternatives, categories, xmlDoc;
    // Get tbody from result table
    var table = document.getElementById("resultsTable").getElementsByTagName('tbody')[0];
    xmlDoc = xml.responseXML;
    // Get all alternatives ids
    alternatives = xmlDoc.getElementsByTagName("alternativeID");
    // Get all categories min and max
    categories = xmlDoc.getElementsByTagName("categoryID");
    // Auxiliar to get the right categories for each alternative
    var categoryNum = 0;
    for (var i = 0; i< alternatives.length; i++) {
      //Insert new row to the table and the results for each cell according to the alternative
      var row = table.insertRow(i);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      cell1.innerHTML = alternatives[i].childNodes[0].nodeValue;
      cell2.innerHTML = categories[categoryNum].childNodes[0].nodeValue;
      cell3.innerHTML = categories[categoryNum+1].childNodes[0].nodeValue;
      categoryNum = categoryNum + 2;
    }
    document.getElementById("resultsTable").style.display = "inline-table";
    document.getElementById("explanation").style.display = "block";
    document.getElementById("methodButtons").style.display = "inline-table";
    document.getElementById("labelResult").style.display = "inline-block";
    document.getElementById("resultName").style.display = "inline-block";
  }

  // Get content from messages.xml
  function showErrorMessage(xml){
    var errorMessage, txt, xmlDoc;
    var paragraph = document.getElementById("errorMessage");
    xmlDoc = xml.responseXML;
    txt = '';
    errorMessage = xmlDoc.getElementsByTagName("text");
    for (var i = 0; i< errorMessage.length; i++) {
      txt += errorMessage[i].childNodes[0].nodeValue + ' <br/>';
    }
    paragraph.innerHTML = txt;
    document.getElementById("errorMethod").style.display = "block";
    //document.getElementById("errorMessage").style.display = "block";
  }
  </script>
</body>
</html>